* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-fonte: #FFFFFF;
    --cor-fundo: #00551e;
    --cor-fundo-section: #205527;
    --cor-botoes: #198754;
    --cor-hover: #20c997;
    --fonte-principal: sans-serif;

}

body {
    background: var(--cor-fundo);
      font-family: var(--fonte-principal);
}

main {
    width: 100vw;
    height: 100vh;
    padding: 4em 10em 4em 10em;
}

.container {
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    background: inherit;
    border-radius: 20px;
    overflow: hidden;
    z-index: 1;
    background-color: var(--cor-fundo-section);
}

.container__cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2rem 2rem 3rem 2rem;
    align-content: space-between;
}

.cabecalho__content {
    color: var(--cor-fonte);
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    list-style: none;
    
    font-size: 1.2rem;
    font-weight: bold;
}

.cabecalho__content__home {
    background-color: var(--cor-botoes);
    padding: 0.5rem;
    border-radius: 10px;
    transition: all 0.3s ease;
}
.cabecalho__content__home:hover {
    box-shadow: 0 0 1rem 0 #7f7f7f;
    background-color: var(--cor-hover);
}

.content {
    display: grid;
    grid-template-columns: 10% 30% 30% 30%;
}

.content__menu-lateral {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    justify-content: center;
    gap: 2rem;
    color: var(--cor-fonte);

}

a {
    text-decoration: none;
    color: var(--cor-fonte);
}

img {
    width: 80%;
    transform: rotate(25deg);
    animation: move 2s infinite alternate;
}

.content__texto {
    font-family: var(--fonte-principal);
    color: var(--cor-fonte);
}

.left {
    align-self: flex-start;
}

.right {
    align-self: flex-end;
    margin: 0 4rem 5rem 0;
    text-align: end;
}
h1 {
    font-size: 3rem;
}
h3 {
    font-size: 1.2rem;
}

.content__pre-order {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
    margin-left: auto;
    width: 13rem;
    border-radius: 5px;
    overflow: hidden;
    gap: 1.5rem;

    font-weight: bold;
    color: var(--cor-fonte);
    background-color: var(--cor-botoes);
    transition: all 0.3s ease;
    cursor: pointer;
}

.content__pre-order:hover {
    box-shadow: 0 0 1rem 0 #7f7f7f;
    background-color: var(--cor-hover);
}

.content__text__pre-order {
    padding-right: 2rem;
}








@keyframes move {
  from {
    transform: translate(-5%, -5%) rotate(25deg);
  }
}